zsh/.zsh_history
Xresources/.Xresources.d/urxvt.Xcolors
mpd/mpd/log
mpd/mpd/database
mpd/mpd/pid
mpd/mpd/state
mpd/mpd/sticker.sql
ranger/ranger/bookmarks
ranger/ranger/tagged
ranger/ranger/history
vimperator/.vimperator/info/default
i3/i3
i3/i3blocks
i3/i3status
!i3/i3/config
!i3/i3blocks/config
!i3/i3status/config
gtk/.config/gtk-3.0/bookmarks
vim/.viminfo
vim/.vim
vim/.vim/bundle
user-dirs/user-dirs.locale
